absl-py==0.9.0
astor==0.8.1
atomicwrites==1.3.0
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.1
blis==0.4.1
boto==2.49.0
boto3==1.10.17
botocore==1.13.17
Bottleneck==1.2.1
certifi==2019.9.11
chardet==3.0.4
ckiptagger==0.1.0
Click==7.0
cycler==0.10.0
cymem==2.0.2
dataclasses==0.7
decorator==4.4.1
docutils==0.15.2
emoji==0.5.4
en-core-web-sm==2.2.5
fastai==1.0.59
fastprogress==0.1.21
filelock==3.0.12
flashtorch==0.1.1
gast==0.3.2
gdown==3.9.1
gensim==3.8.1
grpcio==1.26.0
h5py==2.10.0
idna==2.8
importlib-metadata==0.23
importlib-resources==1.0.2
ipykernel==5.1.3
ipython==7.11.1
ipython-genutils==0.2.0
jedi==0.15.2
jieba==0.41
jmespath==0.9.4
joblib==0.14.0
jupyter-client==5.3.4
jupyter-core==4.6.1
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.1
mock==3.0.5
more-itertools==7.2.0
murmurhash==1.0.2
numexpr==2.7.0
numpy==1.17.3
nvidia-ml-py3==7.352.0
packaging==19.2
pandas==0.25.2
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
plac==1.1.3
pluggy==0.13.0
preshed==3.0.2
prompt-toolkit==3.0.2
protobuf==3.11.2
ptyprocess==0.6.0
py==1.8.0
pyamg==4.0.0
pybind11==2.4.3
Pygments==2.5.2
pyparsing==2.4.2
PySocks==1.7.1
pytest==5.2.4
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
pyzmq==18.1.1
regex==2019.11.1
requests==2.22.0
s3transfer==0.2.1
sacremoses==0.0.35
scikit-learn==0.21.3
scipy==1.3.1
sentencepiece==0.1.83
six==1.12.0
sklearn==0.0
smart-open==1.9.0
soupsieve==1.9.5
spacy==2.2.2
srsly==0.2.0
termcolor==1.1.0
thinc==7.3.1
torch==1.3.0
torchvision==0.4.1
tornado==6.0.3
tqdm==4.37.0
traitlets==4.3.3
transformers==2.1.1
urllib3==1.25.6
wasabi==0.4.0
wcwidth==0.1.7
Werkzeug==0.16.0
zipp==0.6.0
